/* GLOBAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 438px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.main-content-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.form {
  margin-top: 150px;
}

.form-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label:not(:last-child) {
  margin-bottom: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip:rect(0 0 0 0 ) ;
  overflow: hidden;
}

.checkbox-control {
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  margin-right: 16px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
}

.checkbox:disabled ~ .checkbox-control,
.checkbox:disabled ~ .checkbox-text {
  opacity: 0.5;
}

.checkbox:focus ~ .checkbox-control {
  box-shadow: 0px 0px 0px 3px #0e85f3;
}

.checkbox-ping_pong:checked ~ .checkbox-control {
  background-image: url(../img/table-tenis.svg);
}

.checkbox-basketbal:checked ~ .checkbox-control {
  background-image: url(../img/basketbal.svg);
}

.checkbox-voleybal:checked ~ .checkbox-control {
  background-image: url(../img/volleybal.svg);
}

.checkbox-hokkey:checked ~ .checkbox-control {
  background-image: url(../img/hokkey.svg);
}

.checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}
